
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { 
    outline: 0 solid 
}
img {
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #222;
}
h2 {
    font-size: 32px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #565656;
    font-size: 17px;    
}
*{
    margin: 0px;
    padding: 0px;
}
a, a:hover { 
    text-decoration: none;
}
.mainmenu{
    background-color: #222;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
    opacity: .9;
}
.mainmenu ul {
    list-style: outside none none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.mainmenu li {
    display: inline-block;
    margin: 0px;
}
.mainmenu li a {
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px 10px;
    transition: 0.3s;
    text-decoration: none;
}
.mainmenu li a:hover {
    color: #dca521;
}

.Calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.Calendar tr td:hover{
    background-color: #565656;
    color: #fff;
    box-shadow: 10px 10px 10px  rgb(199, 183, 183);
    transition: 0.4s;
}

.header{
    width: 100%;
    height: 100px;
    background-image: url('banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.menus{
    width: 100%;
    height: 35px; 
}
.left{
    width: 20%;
}
.content-body{
    height: 400px;
}
.right{
    width: 20%;
}
.footer{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom right, rgb(228, 196, 196), rgb(71, 71, 53));
}

.Calendar table tr td:nth-child(6), .Calendar table tr th:nth-child(6){
    color: red;
}
.Calendar table tr td:nth-child(6):hover{
    background-color: red;
    color: black;
}
.contac-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.contac-form table tr td label{
    text-align: right !important;
}
.reg-tbl tr td{
    margin: 0px;
    padding: 0px;
    border: none;
}
input[type="text"], input[type="email"], input[type="tel"], 
input[type="password"], input[type="url"],input[type="date"], textarea, select {
    background: #f1ecec none repeat scroll 0 0;
    border: 0;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    outline: none;
    min-width: 235px;
}
input[type="radio"]{
    background: #f1ecec none repeat scroll 0 0;
}
.from-address td input[type="text"]{
    width: 600px;
}
.from-check td input[type="submit"], .contact-form button[type="submit"],button[type="submit"] {
    background: #52b0fb none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    padding: 8px 45px;
    margin: 5px;
}



.section-padding {
    padding: 80px 0;
}
.white-box {
    box-shadow: 0 0 10px #f5f5f5;
    padding: 30px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="url"], textarea {
    background: #f9f9f9 none repeat scroll 0 0;
    border: medium none;
    padding: 15px;
}
.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    width: 95%;
}
input[type="submit"] {
    margin: 0;
    width: auto;
}
.contact-form textarea {
    height: 143px;
    resize: none;
}
.contact-form input[type="submit"], .contact-form button[type="submit"] {
    background: #52b0fb none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    padding: 15px 30px;
}
.colored-box {
    background: #52b0fb none repeat scroll 0 0;
    color: #fff;
    min-height: 655px;
    padding: 30px;
}
.colored-box a {
    color: #fff;
}
.contact-info {
    margin-bottom: 30px;
    padding-left: 45px;
    position: relative;
}
.contact-info i.fa {
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 3px;
}
.colored-box h4, .white-box h4 {
    font-weight: 400;
    margin-bottom: 40px;
}
.social-icons a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 3px #999;
    color: #333;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.social-icons a:hover {
    box-shadow: 0 0 0;
    color: #52b0fb;
}

.c-tbl tr th {
    text-align: center;
    margin: 8px 36px 5px 0px;
    padding: 10px;
}

.c-tbl tr td {
    text-align: center;
    padding: 10px;
    font-size:25px ;
}


.btn {
    display: flex;
    justify-content: space-evenly;
    margin-bottom:80px ;
}
.btn button a{
    color: #fff;
    display: block;
}
.btn button a:hover{
    color: rgb(141, 114, 114);
    transition: 0.3s;
}
table.c-tbl {
    margin-top: 20px;
}

.btn .left, .btn .right{
    background-color:#52b0fb;
    padding: 10px;
    border-radius: 3px;
    width: 120px;
    display: block;
    color: #000;
}

.btn a{
    color: #000;
}