
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { 
    outline: 0 solid 
}
img {
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #222;
}
h2 {
    font-size: 32px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #565656;
    font-size: 17px;    
}
*{
    margin: 0px;
    padding: 0px;
}
a:hover { 
    text-decoration: none;
}
.mainmenu{
    background-color: #222;
}
.mainmenu ul {
    list-style: outside none none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.mainmenu li {
    display: inline-block;
    margin: 0px;
}
.mainmenu li a {
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px 10px;
    transition: 0.3s;
    text-decoration: none;
}
.mainmenu li a:hover {
    color: #dca521;
}

table{
    border: #222 2px solid;
    align-items: center;
}

table, tr, th, td{
    border: #222 2px solid;
    margin: 0px;
    padding: 5px 10px;
    text-align: center;
}
th, td{
    min-width: 115px;
}
.tbl-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tbl-content table{
    width: 90%;
}

.tbl-content table tr td:hover{
    background-color: #565656;
    color: #fff;
    box-shadow: 10px 10px 10px  rgb(199, 183, 183);
    transition: 0.4s;
}

.Calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.Calendar table tr td:hover{
    background-color: #565656;
    color: #fff;
    box-shadow: 10px 10px 10px  rgb(199, 183, 183);
    transition: 0.4s;
}

.header{
    width: 100%;
    height: 100px;
    background-image: url('banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.menus{
    width: 100%;
    height: 35px; 
}
.left{
    width: 20%;
}
.content-body{
    height: 400px;
}
.right{
    width: 20%;
}
.footer{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom right, rgb(228, 196, 196), rgb(71, 71, 53));
}

.Calendar table tr td:nth-child(6), .Calendar table tr th:nth-child(6){
    color: red;
}
.Calendar table tr td:nth-child(6):hover{
    background-color: red;
    color: black;
}
